<div class="home-gender-categories-container">
  <img
    class="home-gender-categories-background-image"
    src="https://cdn.shopify.com/s/files/1/0767/6297/2470/files/8776623_25777.jpg?v=1737630726"
  >
  <img
    class="home-gender-categories-left-image"
    src="{{ section.settings.image_1 | img_url: 'master' }}"
  >
  <img
    class="home-gender-categories-right-image"
    src="{{ section.settings.image_2 | img_url: 'master' }}"
  >
  <h2 class="section-heading">{{ section.settings.heading }}</h2>
  <div class="gender-categories-loop-parent">
    {% for block in section.blocks %}
      <a href="{{ block.settings.collection }}">
        <img
          class="gender-category-block-arrow"
          src="https://cdn.shopify.com/s/files/1/0767/6297/2470/files/Group_257.png?v=1737632883"
        >
        <img src="{{ block.settings.image | img_url: 'master' }}">
        <p class="gender-category-heading">{{ block.settings.title }}</p>
        <p class="gender-category-subheading">{{ block.settings.subtitle }}</p>
      </a>
    {% endfor %}
  </div>
</div>
<style>
  .home-gender-categories-container .section-heading {
    margin: 0 0 30px;
  }
  .home-gender-categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 570px;
    flex-direction: column;
  }
  .home-gender-categories-background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .home-gender-categories-left-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: auto;
    z-index: 99;
  }
  .home-gender-categories-right-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    height: auto;
    z-index: 99;
  }
  .home-gender-categories-container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 220px;
    height: auto;
    text-decoration: none;
    position: relative;
  }
  .home-gender-categories-container .gender-category-block-arrow {
    width: 60px;
    height: auto;
    position: absolute;
    top: 220px;
    right: 5px;
  }
  .gender-categories-loop-parent {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: auto;
  }
  .home-gender-categories-container a img {
    width: 100%;
    height: auto;
  }
  .gender-category-heading {
    color: #392d43;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    font-size: 2.3rem;
    font-weight: 500;
  }
  .gender-category-subheading {
    color: #000;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
</style>
{% schema %}
{
  "name": "Home Categories",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Left Image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Right Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "What Are You Looking For?"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "url",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Categories"
    }
  ]
}
{% endschema %}
